.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    color: #164687;
    font-size: 24px;
}

.logout-button {
    border: 1px solid #164687;
    background-color: transparent;
    color: #164687;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.header-logo {
    height: 50px;
    width: 150px;
}